<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <connectionStrings>
    <add name="ElasticSearchServerSettings" connectionString="http://192.168.0.242:9200" />
    <add name="FrontiersLoggingConnectionString" connectionString="Data Source=192.168.0.128;Initial Catalog=Frontiers_Log; user id=frontiersdev" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    
    <!--ElasticSearch -->
    <add key="ElasticSearch:IndexAlias" value="frontiers-journal"/>
    
    <!-- Address Settings-->
    <add key="Journal:UI:URL" value="http://journal.frontiersin.org" />
    <add key="Loop:UI:URL" value="http://loop.frontiersin.org" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  
  <system.webServer>
    <handlers>
      <clear />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
    <targets>
      <target name="Console" xsi:type="Console" layout="${level:uppercase=true} ${message}"/>
      <target xsi:type="Database" name="Database" connectionStringName="FrontiersLoggingConnectionString"
        commandText="exec WriteLog @EventID,@Priority,@Severity,@Title,@Timestamp,@MachineName,@AppDomainName,@ProcessID,@ProcessName,@ThreadName,@Win32ThreadId,@Message,@FormattedMessage,@LogId">
        <parameter name="@EventID" layout="0"/>
        <parameter name="@Priority" layout="3"/>
        <parameter name="@Severity" layout="${level}"/>
        <parameter name="@Title" layout="JournalSearchAPI"/>
        <parameter name="@Timestamp" layout="${date}"/>
        <parameter name="@MachineName" layout="${machinename}"/>
        <parameter name="@AppDomainName" layout="JournalSearchAPI"/>
        <parameter name="@ProcessID" layout="${processid}"/>
        <parameter name="@ProcessName" layout="${processname}"/>
        <parameter name="@ThreadName" layout="${threadname}"/>
        <parameter name="@Win32ThreadId" layout="${threadid}"/>
        <parameter name="@Message" layout="${exception}"/>
        <parameter name="@FormattedMessage" layout="${message} "/>
        <parameter name="@LogId" layout="0"/>
      </target>
    </targets>
    <rules>
      <logger name="*" levels="Info,Warn,Error,Fatal,Debug,Trace" writeTo="Console"/>
      <logger name="*" levels="Error,info" writeTo="Database"/>
    </rules>
  </nlog>
  
</configuration>