<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Package</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\packages\JournalSearchAPI\Search.Presentation.API.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>JournalSearchAPI</DeployIisAppPath>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <AutoParameterizationWebConfigConnectionStrings>False</AutoParameterizationWebConfigConnectionStrings>
    <IncludeSetACLProviderOnDestination>False</IncludeSetACLProviderOnDestination>
  </PropertyGroup>
  <Target Name="CreateCharonPackage" AfterTargets="Package">
    <GetAssemblyIdentity AssemblyFiles="$(TargetDir)Search.Presentation.API.dll">
      <Output TaskParameter="Assemblies" ItemName="ToVersion" />
    </GetAssemblyIdentity>
    <PropertyGroup>
      <CharonPackageDirectory>$([System.IO.Path]::GetDirectoryName($(DesktopBuildPackageLocation)))\%(ToVersion.Version)</CharonPackageDirectory>
      <CharonDirectory>\\charon.frontiersin.net\charon</CharonDirectory>
      <WebDeployPackageDirectory>$(TargetDir)_PublishedWebsites\Search.Presentation.API_Package</WebDeployPackageDirectory>
      <DependenciesDirectory>Properties\Deployment</DependenciesDirectory>
      <DeploymentDbConnectionString>Data Source=siwdb21;Initial Catalog=Frontiers_Deployment;Integrated Security=SSPI</DeploymentDbConnectionString>
    </PropertyGroup>
    <Message Text="Copying webdeploy package..." Importance="high" />
    <Exec Command="xcopy.exe &quot;$(WebDeployPackageDirectory)&quot; &quot;$(CharonPackageDirectory)\WebDeployPackage\&quot; /e" />
    <Message Text="Copying dependencies..." Importance="high" />
    <Exec Command="xcopy.exe &quot;$(DependenciesDirectory)&quot; &quot;$(CharonPackageDirectory)&quot; /e" />
    <Message Text="Copying charon..." Importance="high" />
    <Exec Command="xcopy.exe &quot;$(CharonDirectory)&quot; &quot;$(CharonPackageDirectory)&quot; /e" />
    <Message Text="Setting up to and from versions..." Importance="high" />
    <Exec Command="powershell.exe &quot;$(CharonPackageDirectory)\Tools\GetCurrentVersionFromDeploymentDb.ps1&quot; '$(DeploymentDbConnectionString)' '$(DeployIisAppPath)'" WorkingDirectory="$(CharonPackageDirectory)" ConsoleToMSBuild="true">
      <Output TaskParameter="ConsoleOutput" PropertyName="FromVersion" />
    </Exec>
    <Exec Command="powershell.exe &quot;$(CharonPackageDirectory)\Tools\AddEntryToWorkflowSettingsFile.ps1&quot; WorkflowSettings.xml FromVersion '$(FromVersion)'" WorkingDirectory="$(CharonPackageDirectory)" />
    <Exec Command="powershell.exe &quot;$(CharonPackageDirectory)\Tools\AddEntryToWorkflowSettingsFile.ps1&quot; WorkflowSettings.xml ToVersion '%(ToVersion.Version)'" WorkingDirectory="$(CharonPackageDirectory)" />
  </Target>
</Project>